@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #f97316; 
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #fb923c; 
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-geist-sans), system-ui, sans-serif;
    @apply transition-colors duration-300;
  }
 
}

